/* Base styles applied to all scenes */

.root {
  -fx-background-color: white; /* main background */
  -fx-font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -fx-font-size: 14px;
  -fx-text-fill: #222222;
}

/* Utility classes */
.centered-pane {
  -fx-alignment: center;
}
